extends shared/layout

block content
    #app
        .row
            div(class="col-sm-8 col-sm-offset-2")
                        h2 Editar Cliente
                            b &nbsp; {{dependencies.cliente.nombre}}
                        hr
                        -if(errors)
                            for error in errors
                                ul
                                    li.text-danger=error.msg
                        -if(error)
                            span.text-danger=error

                        .row
                            .col-sm-6.col-sm-offset-3
                                form(method="post").form-horizontal
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="nombre", placeholder="introduzca un nombre",v-model="dependencies.cliente.nombre").form-control

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-id-card
                                        input(type="text", name="cedula" id="cedula", placeholder="introduzca una cedula",v-model="dependencies.cliente.cedula", v-on:keypress="limitCedula", v-on:keyup="eraseCedulaSpan").form-control
                                        span.text-danger#cedulaLimit

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-credit-card
                                        input(type="number", name="tarjeta", placeholder="Introduzca un numero de tarjeta",v-model="dependencies.cliente.noTarjetaCR", v-on:keypress="limitCreditCard", v-on:keyup="eraseTarjetaSpan").form-control#creditCard 
                                        span.text-danger#tarjetaLimit 

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-credit-card
                                        input(type="number", name="credito", placeholder="Introduzca limite tarjeta de credito",v-model="dependencies.cliente.limiteCredito", v-on:keypress="creditoLimit", v-on:keyup="eraseLimitSpan").form-control#limit 
                                        span.text-danger#creditoLimit
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-user
                                        input(type="string", name="tipoPersona", placeholder="Introduzca tipo de persona",v-model="dependencies.cliente.tipoPersona").form-control  
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-bars
                                        select(name="estado", v-model="dependencies.cliente.estado").form-control
                                            option(value="", disabled, selected) Escoja una opcion
                                            option(v-for="estado in dependencies.estados" v:bind-value="estado.estado") {{estado.estado}}
                                    .form-group
                                        button(type="submit").btn.btn-success Editar
block scripts
    script(src="/js/Clientes/editCliente.js")