extends shared/layout

block content
    #app
        .row
            div(class="col-sm-8 col-sm-offset-2")
                        h2.text-center Editar empleado
                            b &nbsp; {{dependencies.empleado.nombre}}
                        hr
                        -if(errors)
                            for error in errors
                                ul
                                    li.text-danger=error.msg
                        -if(error)
                            span.text-danger=error

                        .row
                            .col-sm-6.col-sm-offset-3
                                form(method="post").form-horizontal
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="nombre", placeholder="introduzca un nombre", v-model="dependencies.empleado.nombre").form-control

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-id-card
                                        input(type="text", name="cedula" id="cedula", placeholder="introduzca una cedula", v-model="dependencies.empleado.cedula", v-on:keypress="limitCedula", v-on:keyup="eraseCedulaSpan").form-control
                                        span.text-danger#cedulaLimit
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-calendar-times-o
                                        input(type="text", name="tanda", placeholder="Introduzca una tanda de labor",v-model="dependencies.empleado.tandaLabor").form-control    

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-calendar
                                        input(type="date", name="fI", placeholder="Introduzca la fecha de ingreso",v-model="dependencies.empleado.fechaIngreso").form-control  
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-bars
                                        select(name="estado",v-model="dependencies.empleado.estado").form-control
                                            option(value="", disabled, selected) Escoja una opcion
                                            option(v-for="estado in dependencies.estados" v:bind-value="estado.estado") {{estado.estado}}
                                    .form-group
                                        button(type="submit").btn.btn-success Editar
block scripts
    script(src="/js/Empleado/editEmpleado.js")
