extends shared/layout

block content
    #app
        .row
            div(class="col-sm-8 col-sm-offset-2")
                        h2 Ingrese un nuevo Cliente
                        hr
                        -if(errors)
                            for error in errors
                                ul
                                    li.text-danger=error.msg
                        -if(error)
                            span.text-danger=error

                        .row
                            .col-sm-6.col-sm-offset-3
                                form(method="post").form-horizontal
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-envelope
                                        input(type="email",name="email", placeholder="introduzca un email valido").form-control
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-lock
                                        input(type="password", name="password", placeholder="introduzca una contraseña").form-control
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-user
                                        input(type="text", name="nombre", placeholder="introduzca un nombre").form-control

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-id-card
                                        input(type="text", name="cedula" placeholder="introduzca una cedula", v-on:keypress="limitCedula", v-on:keyup="eraseCedulaSpan")#cedula.form-control
                                        span.text-danger#cedulaLimit

                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-credit-card
                                        input(type="number", name="tarjeta", placeholder="Introduzca un numero de tarjeta", v-on:keypress="limitCreditCard", v-on:keyup="eraseTarjetaSpan")#creditCard.form-control    
                                        span.text-danger#tarjetaLimit
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-credit-card
                                        input(type="number", name="credito", placeholder="Introduzca limite tarjeta de credito", v-on:keypress="creditoLimit", v-on:keyup="eraseLimitSpan")#limit.form-control
                                        span.text-danger#creditoLimit 
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-user
                                        input(type="string", name="tipoPersona", placeholder="Introduzca tipo de persona").form-control  
                                    .form-group.input-group
                                        label.input-group-addon
                                            i.fa.fa-bars
                                        select(name="estado").form-control
                                            option(value="", disabled, selected) Escoja una opcion
                                            option(v-for="estado in dependencies.estados" v-bind:value="estado.estado") {{estado.estado}}
                                    .form-group
                                        button(type="submit").btn.btn-success Insertar
block scripts
    script(src="/js/Clientes/insertCliente.js")