<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='/lib/animate.css/animate.min.css')
        link(rel="stylesheet", href="/lib/bootswatch/paper/bootstrap.min.css")
        link(rel='stylesheet', href='/css/landing.css')
        link(rel="stylesheet", href="/lib/font-awesome/css/font-awesome.min.css")
        title= title + " Rent a Car"
    body
        div(class="row")
            div(class="col-sm-8 col-sm-offset-2")
                div(class="jumbotron text-center jb-landing")
                    h2 Bienvenido a Rent a Car
                    a(href="/Vehiculos",class="btn btn-primary")
                        i(class="fa fa-plane") Acceder

