extends shared/landingLayout

block content
    div(class="row")
        div(class="col-sm-8 col-sm-offset-2")
            div(class="jumbotron text-center jb-landing")
                h2 Bienvenido a Rent a Car
                a(href="/auth/login",class="btn btn-primary")
                    i(class="fa fa-plane") Acceder

