doctype html
html
  head
    title= title + " - Rent a car"
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/animate.css/animate.min.css')
    link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/lib/font-awesome/css/font-awesome.min.css")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

  body
    block content
