extends shared/layout 

block content
    .row
        .col-sm-6.col-sm-offset-3
            h2.text-warning.text-center Usted no tiene acceso a esta parte de la página
            br
            br
            a(href="/").btn.btn-default Volver