extends shared/layout

block content
    div.row
        .col-sm-8.col-sm-offset-2
            h2.text-center Tipos de vehiculos activos
            hr
            a(href="/tipoVehiculos/Insertar").btn.btn-primary Insertar
            br
            br
            -if(tv.length > 0){
            table.table.table-responsive
                thead
                    tr
                        th Tipo Vehiculo
                        th Estado
                tbody     
                    for t in tv
                        tr
                            td=t.descripcion
                            td=t.estado
                            td
                                a(href="/TipoVehiculos/Editar/"+t._id).btn.btn-primary Editar
        -}
        -else{
            h2.text-center
                i
                    b No hay nada para mostrar
        -}
            


