extend shared/layout

block content
    div.row
        .col-sm-8.col-sm-offset-2
            h2.text-center Tipos de vehiculos activos
            hr
            a(href="/tipoVehiculos/Insertar").btn.btn-primary Insertar
            br
            br
            table.table.table-responsive
                thead
                    tr
                        th Tipo Vehiculo
                        th Estado
                tbody
                    -if(tv){
                        
                        -for(var i =0; i < tv.length; i++){
                            tr
                                td=tv[i].descripcion
                                td=tv[i].estado
                                td
                                    a(href="/TipoVehiculos/Editar/"+tv[i]._id).btn.btn-primary Editar
                        -}
                            
                    -}

